<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detector de Tumores Virtual</title>
    <!-- ico -->
    <link rel="icon" href="/static/img/tumor_detected.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style_file.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <!-- Header -->
    <header>
        <h1>Detector de Tumores Virtual</h1>
        <nav>
            <a href="/static/templates/index.html">Inicio</a>
            <a href="/static/templates/about.html">Sobre Nosotros</a>
        </nav>
    </header>

    <div class="container">
        <p class="description">
            Este proyecto tiene como objetivo la detección de tumores en imágenes de resonancia magnética (MRI) utilizando técnicas de aprendizaje profundo.<br>
            En la actualidad, la detección de tumores cerebrales es un proceso que requiere de la intervención de expertos en radiología 
            para interpretar las imágenes de resonancia magnética.
        </p>
        
        <p class="description">
            La implementación de un sistema de detección de tumores basado en inteligencia artificial puede ayudar a agilizar el proceso de diagnóstico y a mejorar la precisión en la detección de tumores cerebrales. 
            Este sistema clasificará la imagen para proporcionarle los resultados de la detección y la probabilidad asociada. Sin embargo, es importante contar con la evaluación de un profesional de la salud.
        </p>

        <p class="description">
            <b>Integrantes:</b>
            <ul>
                <li>Guerra Guerra Renzo Gerardo</li>
                <li>Guevara Tuanama Victor William</li>
                <li>Robles Tacanga Cristian Max</li>
                <li>Paredes Aguilar Dianira Yaneli</li>
                <li>Sigüenza Castañeda Joel Santiago</li>
            </ul>
        </p>
    </div>
</body>
</html>